In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [20]:
os.chdir(r'C:\Users\2bogu\Desktop\Sringboard_Materials\capstone2\data\interim')

df = pd.read_csv('post_eda_d') #didn't do setup time, not a big deal

In [21]:
df.head()
#cahnge num_borrowers to single_borrower

,CONTRACT DATE,SETUP DATE,ORIGINAL MATURITY DATE,CURRENT MATURITY DATE,SUCCESSOR NUMBER,ACCOUNT CODE,ACCOUNT CODE DATE,CANCEL REASON,TYPE OF BANKRUPTCY,Purpose,...,ORIGINAL LOAN AMOUNT,ORIGINAL TERM,INTEREST RATE,DEBT TO INCOME,PAYMENT AMOUNT,TOTAL INTEREST PAID,Payments Made,avg_credit_score,MATURITY DIFFERENCE,bad
0,2016-10-12,2016-10-14,2031-10-12,2016-12-12,NONE,Paid in Full,2017-01-12,NONE,NONE,Solar (PV),...,8563.0,180.0,3.49,0.28,61.0,51.0,180.0,744.0,177.0,False
1,2015-11-25,2015-11-30,2020-11-25,2016-07-25,NONE,Paid in Full,2016-07-25,NONE,NONE,Solar (PV),...,18351.0,60.0,3.49,0.19,334.0,404.0,60.0,757.5,52.0,False
2,2015-01-15,2015-01-26,2030-01-15,2030-01-14,NONE,SurePay/Automatic Debit Payment,2015-01-26,NONE,NONE,Solar (PV),...,23330.0,180.0,3.49,0.17,167.0,3726.0,64.0,785.5,0.0,False
3,2015-10-28,2015-10-31,2030-10-28,2019-07-08,NONE,Paid in Full,2019-07-09,NONE,NONE,Solar (PV),...,14263.0,180.0,3.49,0.38,102.0,1307.0,180.0,792.0,135.0,False
4,2017-06-02,2017-06-12,2032-06-02,2017-08-02,NONE,Paid in Full,2017-08-29,NONE,NONE,Solar (PV),...,21646.0,180.0,7.99,0.20,207.0,412.0,180.0,716.0,178.0,False

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25127 entries, 0 to 25126
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CONTRACT DATE           25127 non-null  object
 1   SETUP DATE              25127 non-null  object
 2   ORIGINAL MATURITY DATE  25127 non-null  object
 3   CURRENT MATURITY DATE   25127 non-null  object
 4   SUCCESSOR NUMBER        25127 non-null  object
 5   ACCOUNT CODE            25127 non-null  object
 6   ACCOUNT CODE DATE       25127 non-null  object
 7   CANCEL REASON           25127 non-null  object
 8   TYPE OF BANKRUPTCY      25127 non-null  object
 9   Purpose                 25127 non-null  object
 10  Loan Type               25127 non-null  object
 11  Underwriting            25127 non-null  object
 12  Pledged                 25127 non-null  object
 13  num_borrowers           25127 non-null  int64
 14  ORIGINAL LOAN AMOUNT    25127 non-null  float64
 15  ORIGINAL TERM           25127 non-null  float64
 16  INTEREST RATE           25127 non-null  float64
 17  DEBT TO INCOME          25127 non-null  float64
 18  PAYMENT AMOUNT          25127 non-null  float64
 19  TOTAL INTEREST PAID     25127 non-null  float64
 20  Payments Made           25127 non-null  float64
 21  avg_credit_score        25127 non-null  float64
 22  MATURITY DIFFERENCE     25127 non-null  float64
 23  bad                     25127 non-null  bool
dtypes: bool(1), float64(9), int64(1), object(13)
memory usage: 4.4+ MB

# To do
- drop first 4 rows DONE
- drop account code date DONE
- bin purose catagories DONE
- num_borrowers into single_borrower DONE

In [23]:
df['Purpose'].value_counts()

Energy Efficiency (EE)            17073
Solar (PV)                         7960
Renewable Heat NY (RHNY)             52
Air Source Heat Pump (ASHP)          17
Ground Source Heat Pump (GSHP)       14
Solar Thermal                        11
Name: Purpose, dtype: int64

df[~df.Purpose.isin(['Energy Efficiency (EE)', 'Solar (PV)'])]['Purpose'] = 'Other'

In [24]:
df.loc[(df['Purpose'] == 'Renewable Heat NY (RHNY)') 
       | (df['Purpose'] == 'Renewable Heat NY (RHNY)') 
       | (df['Purpose'] == 'Air Source Heat Pump (ASHP)') 
       | (df['Purpose'] == 'Ground Source Heat Pump (GSHP)')
       | (df['Purpose'] == 'Solar Thermal'), 'Purpose'] = 'Other'

In [25]:
df['Purpose'].value_counts()

Energy Efficiency (EE)    17073
Solar (PV)                 7960
Other                        94
Name: Purpose, dtype: int64

In [26]:
df[df.Purpose == 'Other']

,CONTRACT DATE,SETUP DATE,ORIGINAL MATURITY DATE,CURRENT MATURITY DATE,SUCCESSOR NUMBER,ACCOUNT CODE,ACCOUNT CODE DATE,CANCEL REASON,TYPE OF BANKRUPTCY,Purpose,...,ORIGINAL LOAN AMOUNT,ORIGINAL TERM,INTEREST RATE,DEBT TO INCOME,PAYMENT AMOUNT,TOTAL INTEREST PAID,Payments Made,avg_credit_score,MATURITY DIFFERENCE,bad
76,2016-10-17,2016-10-24,2031-10-17,2031-01-16,NONE,Check/Money Order Payment (with coupon),2016-10-24,NONE,NONE,Other,...,16552.0,180.0,3.99,0.39,122.0,2102.0,52.9,689.0,9.0,False
324,2019-07-29,2019-08-05,2034-07-28,2034-07-28,NONE,SurePay/Automatic Debit Payment,2019-08-05,NONE,NONE,Other,...,6668.0,180.0,6.99,0.30,60.0,383.0,10.0,786.0,0.0,False
407,2019-01-25,2019-02-04,2034-01-24,2034-01-24,NONE,SurePay/Automatic Debit Payment,2019-02-04,NONE,NONE,Other,...,5984.0,180.0,6.99,0.32,54.0,544.0,16.0,767.0,0.0,False
578,2019-07-17,2019-07-29,2029-07-16,2029-07-16,NONE,SurePay/Automatic Debit Payment,2019-07-29,NONE,NONE,Other,...,7545.0,120.0,6.99,0.28,88.0,469.0,11.3,743.0,0.0,False
653,2017-05-09,2017-05-15,2032-05-08,2032-06-08,NONE,SurePay/Automatic Debit Payment,2017-05-15,NONE,NONE,Other,...,3561.0,180.0,3.49,0.22,25.0,344.0,36.0,695.0,-2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23635,2018-10-09,2018-10-15,2033-10-08,2019-11-18,NONE,Paid in Full,2019-11-25,NONE,NONE,Other,...,25000.0,180.0,4.99,0.31,198.0,419.0,180.0,764.0,166.0,False
23974,2018-12-12,2018-12-21,2033-12-11,2034-03-15,NONE,Check/Money Order Payment (with coupon),2018-12-21,NONE,NONE,Other,...,7500.0,180.0,3.49,0.48,54.0,297.0,14.0,686.0,-4.0,False
24505,2017-01-03,2017-01-09,2032-01-03,2032-04-15,NONE,Check/Money Order Payment (with coupon),2017-01-09,NONE,NONE,Other,...,6680.0,180.0,3.49,0.20,48.0,596.0,33.0,652.5,-4.0,False
24688,2019-06-20,2019-07-01,2034-06-20,2034-09-15,NONE,Check/Money Order Payment (with coupon),2019-07-01,NONE,NONE,Other,...,3116.0,180.0,3.49,0.52,22.0,63.0,7.0,644.0,-3.0,False
25034,2016-05-19,2016-05-31,2031-05-19,2031-08-15,NONE,Check/Money Order Payment (with coupon),2016-05-31,NONE,NONE,Other,...,4830.0,180.0,3.49,0.53,35.0,513.0,40.0,600.5,-3.0,False

In [27]:
df.drop(['CONTRACT DATE', 'SETUP DATE', 'ORIGINAL MATURITY DATE', 'CURRENT MATURITY DATE', 'ACCOUNT CODE DATE'], 
        axis=1, inplace=True)

In [28]:
df.loc[df.num_borrowers == 2, 'num_borrowers'] = 0 # redefining num_borrowers, move this step to different notebook

In [29]:
df['num_borrowers'].value_counts()

1    13636
0    11491
Name: num_borrowers, dtype: int64

In [30]:
df.rename(columns={'num_borrowers':'single_borrower'}, inplace=True) # MOVE THIS TOO

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25127 entries, 0 to 25126
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SUCCESSOR NUMBER      25127 non-null  object
 1   ACCOUNT CODE          25127 non-null  object
 2   CANCEL REASON         25127 non-null  object
 3   TYPE OF BANKRUPTCY    25127 non-null  object
 4   Purpose               25127 non-null  object
 5   Loan Type             25127 non-null  object
 6   Underwriting          25127 non-null  object
 7   Pledged               25127 non-null  object
 8   single_borrower       25127 non-null  int64
 9   ORIGINAL LOAN AMOUNT  25127 non-null  float64
 10  ORIGINAL TERM         25127 non-null  float64
 11  INTEREST RATE         25127 non-null  float64
 12  DEBT TO INCOME        25127 non-null  float64
 13  PAYMENT AMOUNT        25127 non-null  float64
 14  TOTAL INTEREST PAID   25127 non-null  float64
 15  Payments Made         25127 non-null  float64
 16  avg_credit_score      25127 non-null  float64
 17  MATURITY DIFFERENCE   25127 non-null  float64
 18  bad                   25127 non-null  bool
dtypes: bool(1), float64(9), int64(1), object(8)
memory usage: 3.5+ MB

In [32]:
df['SUCCESSOR NUMBER'].value_counts() 
# ALL OTHER SUCCESSOR NUMBERS WERE DROPPED, MAYBE THIS IS WHY SO MANY CREDIT SCORES WERE MISSING

NONE    24809
S-0       317
s-0         1
Name: SUCCESSOR NUMBER, dtype: int64

In [33]:
df['SUCCESSOR NUMBER'] = df['SUCCESSOR NUMBER'].apply(lambda x: 0 if x == 'NONE' else 1)

In [34]:
df['SUCCESSOR NUMBER'].value_counts()

0    24809
1      318
Name: SUCCESSOR NUMBER, dtype: int64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25127 entries, 0 to 25126
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SUCCESSOR NUMBER      25127 non-null  int64
 1   ACCOUNT CODE          25127 non-null  object
 2   CANCEL REASON         25127 non-null  object
 3   TYPE OF BANKRUPTCY    25127 non-null  object
 4   Purpose               25127 non-null  object
 5   Loan Type             25127 non-null  object
 6   Underwriting          25127 non-null  object
 7   Pledged               25127 non-null  object
 8   single_borrower       25127 non-null  int64
 9   ORIGINAL LOAN AMOUNT  25127 non-null  float64
 10  ORIGINAL TERM         25127 non-null  float64
 11  INTEREST RATE         25127 non-null  float64
 12  DEBT TO INCOME        25127 non-null  float64
 13  PAYMENT AMOUNT        25127 non-null  float64
 14  TOTAL INTEREST PAID   25127 non-null  float64
 15  Payments Made         25127 non-null  float64
 16  avg_credit_score      25127 non-null  float64
 17  MATURITY DIFFERENCE   25127 non-null  float64
 18  bad                   25127 non-null  bool
dtypes: bool(1), float64(9), int64(2), object(7)
memory usage: 3.5+ MB

In [36]:
# DROPS BEHIND
#df.drop(['behind', 'paid'], axis=1, inplace=True)

In [37]:
#converts bool column
df['bad'] = df['bad'].apply(lambda x: 0 if x == False else 1)

In [38]:
# DROPPING COLUMNS THAT ARE COLINEAR OR WOULDN'T BE AVAILABLE AT TIME OF LOAN
df.drop(['ACCOUNT CODE', 'CANCEL REASON', 'TYPE OF BANKRUPTCY', 'TOTAL INTEREST PAID',
         'Payments Made', 'MATURITY DIFFERENCE'], axis=1, inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25127 entries, 0 to 25126
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SUCCESSOR NUMBER      25127 non-null  int64
 1   Purpose               25127 non-null  object
 2   Loan Type             25127 non-null  object
 3   Underwriting          25127 non-null  object
 4   Pledged               25127 non-null  object
 5   single_borrower       25127 non-null  int64
 6   ORIGINAL LOAN AMOUNT  25127 non-null  float64
 7   ORIGINAL TERM         25127 non-null  float64
 8   INTEREST RATE         25127 non-null  float64
 9   DEBT TO INCOME        25127 non-null  float64
 10  PAYMENT AMOUNT        25127 non-null  float64
 11  avg_credit_score      25127 non-null  float64
 12  bad                   25127 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 2.5+ MB

In [40]:
df['Loan Type'].value_counts()

Smart Energy        17084
On Bill Recovery     8043
Name: Loan Type, dtype: int64

In [41]:
df_d = pd.get_dummies(df)

In [42]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25127 entries, 0 to 25126
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   SUCCESSOR NUMBER                    25127 non-null  int64
 1   single_borrower                     25127 non-null  int64
 2   ORIGINAL LOAN AMOUNT                25127 non-null  float64
 3   ORIGINAL TERM                       25127 non-null  float64
 4   INTEREST RATE                       25127 non-null  float64
 5   DEBT TO INCOME                      25127 non-null  float64
 6   PAYMENT AMOUNT                      25127 non-null  float64
 7   avg_credit_score                    25127 non-null  float64
 8   bad                                 25127 non-null  int64
 9   Purpose_Energy Efficiency (EE)      25127 non-null  uint8
 10  Purpose_Other                       25127 non-null  uint8
 11  Purpose_Solar (PV)                  25127 non-null  uint8
 12  Loan Type_On Bill Recovery          25127 non-null  uint8
 13  Loan Type_Smart Energy              25127 non-null  uint8
 14  Underwriting_Tier 1                 25127 non-null  uint8
 15  Underwriting_Tier 2                 25127 non-null  uint8
 16  Pledged_Series 2013A EE Bonds       25127 non-null  uint8
 17  Pledged_Series 2015A EE Bonds       25127 non-null  uint8
 18  Pledged_Series 2015A PV Bonds       25127 non-null  uint8
 19  Pledged_Series 2016A EE Bonds       25127 non-null  uint8
 20  Pledged_Series 2018A PV Bonds       25127 non-null  uint8
 21  Pledged_Series 2019A EE & PV Bonds  25127 non-null  uint8
 22  Pledged_Unpledged                   25127 non-null  uint8
dtypes: float64(6), int64(3), uint8(14)
memory usage: 2.1 MB

In [43]:
# ADD SCALAR AND REMOVE OUTLIERS
# Are outliers defined by the train set? like the scale is?

In [44]:
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

y = df_d[['bad']]
X = df_d.drop('bad', axis=1)



X = sm.add_constant(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=100, stratify=y)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25127 entries, 0 to 25126
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SUCCESSOR NUMBER      25127 non-null  int64
 1   Purpose               25127 non-null  object
 2   Loan Type             25127 non-null  object
 3   Underwriting          25127 non-null  object
 4   Pledged               25127 non-null  object
 5   single_borrower       25127 non-null  int64
 6   ORIGINAL LOAN AMOUNT  25127 non-null  float64
 7   ORIGINAL TERM         25127 non-null  float64
 8   INTEREST RATE         25127 non-null  float64
 9   DEBT TO INCOME        25127 non-null  float64
 10  PAYMENT AMOUNT        25127 non-null  float64
 11  avg_credit_score      25127 non-null  float64
 12  bad                   25127 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 2.5+ MB

In [46]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler()

X_scaler.fit(X_train[['ORIGINAL LOAN AMOUNT', 'ORIGINAL TERM', 'INTEREST RATE', 'DEBT TO INCOME', 'PAYMENT AMOUNT', 
                      'avg_credit_score']])

StandardScaler()

In [47]:
X_train[['ORIGINAL LOAN AMOUNT', 'ORIGINAL TERM', 'INTEREST RATE', 'DEBT TO INCOME', 'PAYMENT AMOUNT', 
         'avg_credit_score']] = X_scaler.transform(X_train[['ORIGINAL LOAN AMOUNT', 'ORIGINAL TERM', 'INTEREST RATE', 
                                                            'DEBT TO INCOME', 'PAYMENT AMOUNT', 'avg_credit_score']])

C:\Users\2bogu\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\2bogu\anaconda3\lib\site-packages\pandas\core\indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [48]:
X_train

,const,SUCCESSOR NUMBER,single_borrower,ORIGINAL LOAN AMOUNT,ORIGINAL TERM,INTEREST RATE,DEBT TO INCOME,PAYMENT AMOUNT,avg_credit_score,Purpose_Energy Efficiency (EE),...,Loan Type_Smart Energy,Underwriting_Tier 1,Underwriting_Tier 2,Pledged_Series 2013A EE Bonds,Pledged_Series 2015A EE Bonds,Pledged_Series 2015A PV Bonds,Pledged_Series 2016A EE Bonds,Pledged_Series 2018A PV Bonds,Pledged_Series 2019A EE & PV Bonds,Pledged_Unpledged
22500,1.0,0,1,1.835387,0.358250,-0.344853,0.070381,1.492039,0.052713,0,...,0,1,0,0,0,0,0,0,0,1
13345,1.0,0,0,-0.774761,0.358250,-0.344853,0.014787,-0.851772,0.791026,0,...,1,1,0,0,0,1,0,0,0,0
8278,1.0,0,1,-1.249482,-3.472432,0.159083,-0.485567,-0.570514,0.912520,1,...,1,1,0,0,1,0,0,0,0,0
22762,1.0,0,0,0.617993,0.358250,-0.344853,2.850122,0.404511,0.342431,1,...,0,0,1,0,0,0,0,0,0,1
19103,1.0,0,1,0.807345,0.358250,-0.344853,-0.763541,0.573265,-2.470634,1,...,1,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24632,1.0,0,1,-1.061172,0.358250,-0.344853,1.126683,-1.114278,0.576074,1,...,0,0,1,0,0,0,0,0,0,1
5508,1.0,0,0,-0.828798,-1.557091,-0.344853,0.181571,-0.589265,-0.087473,1,...,1,1,0,1,0,0,0,0,0,0
3042,1.0,0,0,-0.062754,0.358250,-0.344853,-1.263894,-0.214255,0.968594,1,...,1,1,0,1,0,0,0,0,0,0
5199,1.0,0,0,0.094147,0.358250,-0.344853,-0.763541,-0.083002,-0.162239,0,...,1,1,0,0,0,1,0,0,0,0
12128,1.0,0,1,0.050679,0.358250,4.190573,-0.374377,0.423261,1.118126,0,...,0,1,0,0,0,0,0,1,0,0

In [49]:
X_test[['ORIGINAL LOAN AMOUNT', 'ORIGINAL TERM', 'INTEREST RATE', 'DEBT TO INCOME', 'PAYMENT AMOUNT', 
                      'avg_credit_score']] = X_scaler.transform(X_test[['ORIGINAL LOAN AMOUNT', 'ORIGINAL TERM',
                                                                        'INTEREST RATE', 'DEBT TO INCOME', 
                                                                        'PAYMENT AMOUNT', 'avg_credit_score']])

C:\Users\2bogu\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\2bogu\anaconda3\lib\site-packages\pandas\core\indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [50]:
X_test

,const,SUCCESSOR NUMBER,single_borrower,ORIGINAL LOAN AMOUNT,ORIGINAL TERM,INTEREST RATE,DEBT TO INCOME,PAYMENT AMOUNT,avg_credit_score,Purpose_Energy Efficiency (EE),...,Loan Type_Smart Energy,Underwriting_Tier 1,Underwriting_Tier 2,Pledged_Series 2013A EE Bonds,Pledged_Series 2015A EE Bonds,Pledged_Series 2015A PV Bonds,Pledged_Series 2016A EE Bonds,Pledged_Series 2018A PV Bonds,Pledged_Series 2019A EE & PV Bonds,Pledged_Unpledged
14067,1.0,0,0,-1.327784,0.358250,0.159083,1.793820,-1.339284,-0.470648,1,...,1,0,1,0,0,0,0,0,0,1
3860,1.0,0,1,0.671732,0.358250,-0.344853,0.125976,0.442012,-0.022053,0,...,1,1,0,0,0,1,0,0,0,0
14525,1.0,0,1,-1.193212,-3.472432,-0.344853,1.349062,-0.458011,-0.134202,1,...,1,0,1,0,0,0,0,0,0,1
9872,1.0,0,1,-0.817782,-3.472432,-0.344853,0.626329,0.404511,0.407851,1,...,1,1,0,1,0,0,0,0,0,0
9847,1.0,0,1,1.973382,0.358250,0.159083,0.904303,1.735795,-0.937934,1,...,1,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20965,1.0,0,0,-0.164724,0.358250,4.190573,0.403950,0.179505,0.865791,0,...,0,1,0,0,0,0,0,0,0,1
14762,1.0,0,0,-0.027325,0.358250,-0.344853,-0.151998,-0.176754,-0.218313,1,...,1,1,0,0,0,0,1,0,0,0
6487,1.0,0,1,1.101794,0.358250,-0.344853,0.904303,0.835772,-0.022053,0,...,1,1,0,0,0,1,0,0,0,0
5184,1.0,0,0,1.973382,-1.557091,-0.344853,-0.263187,2.898325,0.977940,0,...,1,1,0,0,0,1,0,0,0,0
13989,1.0,0,0,0.146100,0.358250,0.159083,2.016199,0.029501,-0.498685,1,...,1,0,1,0,0,0,0,0,0,1

In [51]:
#y_scaler = StandardScaler()
#y_scaler.fit(y_train[['MATURITY DIFFERENCE']])
#y_train[['MATURITY DIFFERENCE']] = y_scaler.transform(y_train[['MATURITY DIFFERENCE']])
#y_test[['MATURITY DIFFERENCE']] = y_scaler.transform(y_test[['MATURITY DIFFERENCE']])

In [52]:
y_test

       bad
14067    0
3860     0
14525    0
9872     0
9847     0
...    ...
20965    0
14762    0
6487     0
5184     0
13989    0

[6282 rows x 1 columns]

In [54]:
y_train

       bad
22500    0
13345    0
8278     0
22762    0
19103    0
...    ...
24632    0
5508     0
3042     0
5199     0
12128    0

[18845 rows x 1 columns]

In [53]:
X_train.to_csv(r'C:\Users\2bogu\Desktop\Sringboard_Materials\capstone2\data\interim\X_train_bad_d', index = False)
X_test.to_csv(r'C:\Users\2bogu\Desktop\Sringboard_Materials\capstone2\data\interim\X_test_bad_d', index = False)
y_train.to_csv(r'C:\Users\2bogu\Desktop\Sringboard_Materials\capstone2\data\interim\y_train_bad_d', index = False)
y_test.to_csv(r'C:\Users\2bogu\Desktop\Sringboard_Materials\capstone2\data\interim\y_test_bad_d', index = False)