In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
os.chdir(r'C:\Users\2bogu\Desktop\Sringboard_Materials\capstone2\data\interim')

df = pd.read_csv('post_eda') #didn't do setup time, not a big deal

In [3]:
df.head()
#cahnge num_borrowers to single_borrower

,CONTRACT DATE,SETUP DATE,ORIGINAL MATURITY DATE,CURRENT MATURITY DATE,SUCCESSOR NUMBER,ACCOUNT CODE,ACCOUNT CODE DATE,CANCEL REASON,TYPE OF BANKRUPTCY,Purpose,...,INTEREST RATE,DEBT TO INCOME,PAYMENT AMOUNT,TOTAL INTEREST PAID,Payments Made,avg_credit_score,MATURITY DIFFERENCE,bad,behind,paid
0,2016-10-12,2016-10-14,2031-10-12,2016-12-12,NONE,Paid in Full,2017-01-12,NONE,NONE,Solar (PV),...,3.49,0.28,61.0,51.0,180.0,744.0,177.0,False,False,True
1,2015-11-25,2015-11-30,2020-11-25,2016-07-25,NONE,Paid in Full,2016-07-25,NONE,NONE,Solar (PV),...,3.49,0.19,334.0,404.0,60.0,757.5,52.0,False,False,True
2,2015-01-15,2015-01-26,2030-01-15,2030-01-14,NONE,SurePay/Automatic Debit Payment,2015-01-26,NONE,NONE,Solar (PV),...,3.49,0.17,167.0,3726.0,64.0,785.5,0.0,False,False,False
3,2015-10-28,2015-10-31,2030-10-28,2019-07-08,NONE,Paid in Full,2019-07-09,NONE,NONE,Solar (PV),...,3.49,0.38,102.0,1307.0,180.0,792.0,135.0,False,False,True
4,2017-06-02,2017-06-12,2032-06-02,2017-08-02,NONE,Paid in Full,2017-08-29,NONE,NONE,Solar (PV),...,7.99,0.20,207.0,412.0,180.0,716.0,178.0,False,False,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25216 entries, 0 to 25215
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CONTRACT DATE           25216 non-null  object
 1   SETUP DATE              25216 non-null  object
 2   ORIGINAL MATURITY DATE  25216 non-null  object
 3   CURRENT MATURITY DATE   25216 non-null  object
 4   SUCCESSOR NUMBER        25216 non-null  object
 5   ACCOUNT CODE            25216 non-null  object
 6   ACCOUNT CODE DATE       25216 non-null  object
 7   CANCEL REASON           25216 non-null  object
 8   TYPE OF BANKRUPTCY      25216 non-null  object
 9   Purpose                 25216 non-null  object
 10  Loan Type               25216 non-null  object
 11  Underwriting            25216 non-null  object
 12  Pledged                 25216 non-null  object
 13  num_borrowers           25216 non-null  int64
 14  ORIGINAL LOAN AMOUNT    25216 non-null  float64
 15  ORIGINAL TERM           25216 non-null  float64
 16  INTEREST RATE           25216 non-null  float64
 17  DEBT TO INCOME          25216 non-null  float64
 18  PAYMENT AMOUNT          25216 non-null  float64
 19  TOTAL INTEREST PAID     25216 non-null  float64
 20  Payments Made           25216 non-null  float64
 21  avg_credit_score        25216 non-null  float64
 22  MATURITY DIFFERENCE     25216 non-null  float64
 23  bad                     25216 non-null  bool
 24  behind                  25216 non-null  bool
 25  paid                    25216 non-null  bool
dtypes: bool(3), float64(9), int64(1), object(13)
memory usage: 4.5+ MB

# To do
- drop first 4 rows DONE
- drop account code date DONE
- bin purose catagories DONE
- num_borrowers into single_borrower DONE

In [5]:
df['Purpose'].value_counts()

Energy Efficiency (EE)            17157
Solar (PV)                         7964
Renewable Heat NY (RHNY)             53
Air Source Heat Pump (ASHP)          17
Ground Source Heat Pump (GSHP)       14
Solar Thermal                        11
Name: Purpose, dtype: int64

df[~df.Purpose.isin(['Energy Efficiency (EE)', 'Solar (PV)'])]['Purpose'] = 'Other'

In [6]:
df.loc[(df['Purpose'] == 'Renewable Heat NY (RHNY)') 
       | (df['Purpose'] == 'Renewable Heat NY (RHNY)') 
       | (df['Purpose'] == 'Air Source Heat Pump (ASHP)') 
       | (df['Purpose'] == 'Ground Source Heat Pump (GSHP)')
       | (df['Purpose'] == 'Solar Thermal'), 'Purpose'] = 'Other'

In [7]:
df['Purpose'].value_counts()

Energy Efficiency (EE)    17157
Solar (PV)                 7964
Other                        95
Name: Purpose, dtype: int64

In [8]:
df[df.Purpose == 'Other']

,CONTRACT DATE,SETUP DATE,ORIGINAL MATURITY DATE,CURRENT MATURITY DATE,SUCCESSOR NUMBER,ACCOUNT CODE,ACCOUNT CODE DATE,CANCEL REASON,TYPE OF BANKRUPTCY,Purpose,...,INTEREST RATE,DEBT TO INCOME,PAYMENT AMOUNT,TOTAL INTEREST PAID,Payments Made,avg_credit_score,MATURITY DIFFERENCE,bad,behind,paid
76,2016-10-17,2016-10-24,2031-10-17,2031-01-16,NONE,Check/Money Order Payment (with coupon),2016-10-24,NONE,NONE,Other,...,3.99,0.39,122.0,2102.0,52.9,689.0,9.0,False,False,False
324,2019-07-29,2019-08-05,2034-07-28,2034-07-28,NONE,SurePay/Automatic Debit Payment,2019-08-05,NONE,NONE,Other,...,6.99,0.30,60.0,383.0,10.0,786.0,0.0,False,False,False
407,2019-01-25,2019-02-04,2034-01-24,2034-01-24,NONE,SurePay/Automatic Debit Payment,2019-02-04,NONE,NONE,Other,...,6.99,0.32,54.0,544.0,16.0,767.0,0.0,False,False,False
578,2019-07-17,2019-07-29,2029-07-16,2029-07-16,NONE,SurePay/Automatic Debit Payment,2019-07-29,NONE,NONE,Other,...,6.99,0.28,88.0,469.0,11.3,743.0,0.0,False,False,False
653,2017-05-09,2017-05-15,2032-05-08,2032-06-08,NONE,SurePay/Automatic Debit Payment,2017-05-15,NONE,NONE,Other,...,3.49,0.22,25.0,344.0,36.0,695.0,-2.0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23723,2018-10-09,2018-10-15,2033-10-08,2019-11-18,NONE,Paid in Full,2019-11-25,NONE,NONE,Other,...,4.99,0.31,198.0,419.0,180.0,764.0,166.0,False,False,True
24062,2018-12-12,2018-12-21,2033-12-11,2034-03-15,NONE,Check/Money Order Payment (with coupon),2018-12-21,NONE,NONE,Other,...,3.49,0.48,54.0,297.0,14.0,686.0,-4.0,False,True,False
24593,2017-01-03,2017-01-09,2032-01-03,2032-04-15,NONE,Check/Money Order Payment (with coupon),2017-01-09,NONE,NONE,Other,...,3.49,0.20,48.0,596.0,33.0,652.5,-4.0,False,True,False
24776,2019-06-20,2019-07-01,2034-06-20,2034-09-15,NONE,Check/Money Order Payment (with coupon),2019-07-01,NONE,NONE,Other,...,3.49,0.52,22.0,63.0,7.0,644.0,-3.0,False,True,False
25123,2016-05-19,2016-05-31,2031-05-19,2031-08-15,NONE,Check/Money Order Payment (with coupon),2016-05-31,NONE,NONE,Other,...,3.49,0.53,35.0,513.0,40.0,600.5,-3.0,False,True,False

In [9]:
df.drop(['CONTRACT DATE', 'SETUP DATE', 'ORIGINAL MATURITY DATE', 'CURRENT MATURITY DATE', 'ACCOUNT CODE DATE'], 
        axis=1, inplace=True)

In [10]:
df.loc[df.num_borrowers == 2, 'num_borrowers'] = 0 # redefining num_borrowers, move this step to different notebook

In [11]:
df['num_borrowers'].value_counts()

1    13723
0    11493
Name: num_borrowers, dtype: int64

In [12]:
df.rename(columns={'num_borrowers':'single_borrower'}, inplace=True) # MOVE THIS TOO

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25216 entries, 0 to 25215
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SUCCESSOR NUMBER      25216 non-null  object
 1   ACCOUNT CODE          25216 non-null  object
 2   CANCEL REASON         25216 non-null  object
 3   TYPE OF BANKRUPTCY    25216 non-null  object
 4   Purpose               25216 non-null  object
 5   Loan Type             25216 non-null  object
 6   Underwriting          25216 non-null  object
 7   Pledged               25216 non-null  object
 8   single_borrower       25216 non-null  int64
 9   ORIGINAL LOAN AMOUNT  25216 non-null  float64
 10  ORIGINAL TERM         25216 non-null  float64
 11  INTEREST RATE         25216 non-null  float64
 12  DEBT TO INCOME        25216 non-null  float64
 13  PAYMENT AMOUNT        25216 non-null  float64
 14  TOTAL INTEREST PAID   25216 non-null  float64
 15  Payments Made         25216 non-null  float64
 16  avg_credit_score      25216 non-null  float64
 17  MATURITY DIFFERENCE   25216 non-null  float64
 18  bad                   25216 non-null  bool
 19  behind                25216 non-null  bool
 20  paid                  25216 non-null  bool
dtypes: bool(3), float64(9), int64(1), object(8)
memory usage: 3.5+ MB

In [14]:
df['SUCCESSOR NUMBER'].value_counts() 
# ALL OTHER SUCCESSOR NUMBERS WERE DROPPED, MAYBE THIS IS WHY SO MANY CREDIT SCORES WERE MISSING

NONE    24895
S-0       320
s-0         1
Name: SUCCESSOR NUMBER, dtype: int64

In [15]:
df['SUCCESSOR NUMBER'] = df['SUCCESSOR NUMBER'].apply(lambda x: 0 if x == 'NONE' else 1)

In [16]:
df['SUCCESSOR NUMBER'].value_counts()

0    24895
1      321
Name: SUCCESSOR NUMBER, dtype: int64

In [17]:
# DROPS BEHIND
df.drop(['behind', 'paid'], axis=1, inplace=True)

In [18]:
#converts bool column
df['bad'] = df['bad'].apply(lambda x: 0 if x == False else 1)

In [19]:
# DROPPING COLUMNS THAT ARE COLINEAR OR WOULDN'T BE AVAILABLE AT TIME OF LOAN
df.drop(['ACCOUNT CODE', 'CANCEL REASON', 'TYPE OF BANKRUPTCY', 'TOTAL INTEREST PAID',
         'Payments Made', 'MATURITY DIFFERENCE'], axis=1, inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25216 entries, 0 to 25215
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SUCCESSOR NUMBER      25216 non-null  int64
 1   Purpose               25216 non-null  object
 2   Loan Type             25216 non-null  object
 3   Underwriting          25216 non-null  object
 4   Pledged               25216 non-null  object
 5   single_borrower       25216 non-null  int64
 6   ORIGINAL LOAN AMOUNT  25216 non-null  float64
 7   ORIGINAL TERM         25216 non-null  float64
 8   INTEREST RATE         25216 non-null  float64
 9   DEBT TO INCOME        25216 non-null  float64
 10  PAYMENT AMOUNT        25216 non-null  float64
 11  avg_credit_score      25216 non-null  float64
 12  bad                   25216 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 2.5+ MB

In [21]:
df['Loan Type'].value_counts()

Smart Energy        17168
On Bill Recovery     8048
Name: Loan Type, dtype: int64

In [22]:
df_d = pd.get_dummies(df)

In [23]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25216 entries, 0 to 25215
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   SUCCESSOR NUMBER                    25216 non-null  int64
 1   single_borrower                     25216 non-null  int64
 2   ORIGINAL LOAN AMOUNT                25216 non-null  float64
 3   ORIGINAL TERM                       25216 non-null  float64
 4   INTEREST RATE                       25216 non-null  float64
 5   DEBT TO INCOME                      25216 non-null  float64
 6   PAYMENT AMOUNT                      25216 non-null  float64
 7   avg_credit_score                    25216 non-null  float64
 8   bad                                 25216 non-null  int64
 9   Purpose_Energy Efficiency (EE)      25216 non-null  uint8
 10  Purpose_Other                       25216 non-null  uint8
 11  Purpose_Solar (PV)                  25216 non-null  uint8
 12  Loan Type_On Bill Recovery          25216 non-null  uint8
 13  Loan Type_Smart Energy              25216 non-null  uint8
 14  Underwriting_Tier 1                 25216 non-null  uint8
 15  Underwriting_Tier 2                 25216 non-null  uint8
 16  Pledged_Series 2013A EE Bonds       25216 non-null  uint8
 17  Pledged_Series 2015A EE Bonds       25216 non-null  uint8
 18  Pledged_Series 2015A PV Bonds       25216 non-null  uint8
 19  Pledged_Series 2016A EE Bonds       25216 non-null  uint8
 20  Pledged_Series 2018A PV Bonds       25216 non-null  uint8
 21  Pledged_Series 2019A EE & PV Bonds  25216 non-null  uint8
 22  Pledged_Unpledged                   25216 non-null  uint8
dtypes: float64(6), int64(3), uint8(14)
memory usage: 2.1 MB

In [24]:
# ADD SCALAR AND REMOVE OUTLIERS
# Are outliers defined by the train set? like the scale is?

In [25]:
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

y = df_d[['bad']]
X = df_d.drop('bad', axis=1)



X = sm.add_constant(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=100, stratify=y)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25216 entries, 0 to 25215
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SUCCESSOR NUMBER      25216 non-null  int64
 1   Purpose               25216 non-null  object
 2   Loan Type             25216 non-null  object
 3   Underwriting          25216 non-null  object
 4   Pledged               25216 non-null  object
 5   single_borrower       25216 non-null  int64
 6   ORIGINAL LOAN AMOUNT  25216 non-null  float64
 7   ORIGINAL TERM         25216 non-null  float64
 8   INTEREST RATE         25216 non-null  float64
 9   DEBT TO INCOME        25216 non-null  float64
 10  PAYMENT AMOUNT        25216 non-null  float64
 11  avg_credit_score      25216 non-null  float64
 12  bad                   25216 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 2.5+ MB

In [27]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler()

X_scaler.fit(X_train[['ORIGINAL LOAN AMOUNT', 'ORIGINAL TERM', 'INTEREST RATE', 'DEBT TO INCOME', 'PAYMENT AMOUNT', 
                      'avg_credit_score']])

StandardScaler()

In [28]:
X_train[['ORIGINAL LOAN AMOUNT', 'ORIGINAL TERM', 'INTEREST RATE', 'DEBT TO INCOME', 'PAYMENT AMOUNT', 
         'avg_credit_score']] = X_scaler.transform(X_train[['ORIGINAL LOAN AMOUNT', 'ORIGINAL TERM', 'INTEREST RATE', 
                                                            'DEBT TO INCOME', 'PAYMENT AMOUNT', 'avg_credit_score']])

C:\Users\2bogu\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\2bogu\anaconda3\lib\site-packages\pandas\core\indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [29]:
X_train

,const,SUCCESSOR NUMBER,single_borrower,ORIGINAL LOAN AMOUNT,ORIGINAL TERM,INTEREST RATE,DEBT TO INCOME,PAYMENT AMOUNT,avg_credit_score,Purpose_Energy Efficiency (EE),...,Loan Type_Smart Energy,Underwriting_Tier 1,Underwriting_Tier 2,Pledged_Series 2013A EE Bonds,Pledged_Series 2015A EE Bonds,Pledged_Series 2015A PV Bonds,Pledged_Series 2016A EE Bonds,Pledged_Series 2018A PV Bonds,Pledged_Series 2019A EE & PV Bonds,Pledged_Unpledged
11035,1.0,0,1,-0.386465,0.358787,2.181270,0.182163,-0.287139,-1.796551,1,...,1,0,1,0,0,0,0,0,0,1
12234,1.0,0,0,0.800549,0.358787,4.201825,-0.095489,1.324602,0.220765,0,...,0,1,0,0,0,0,0,0,1,0
17746,1.0,0,0,0.806950,0.358787,-0.344425,-1.150569,0.574955,-0.657141,0,...,1,1,0,0,0,0,0,1,0,0
23543,1.0,0,0,1.975359,0.358787,3.191548,-0.373142,2.486555,1.089332,0,...,0,1,0,0,0,0,0,0,1,0
8548,1.0,0,0,1.338166,0.358787,1.170992,-0.317612,1.343343,0.650379,0,...,1,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4260,1.0,0,1,0.533378,0.358787,3.191548,0.015572,0.856073,-0.246206,1,...,1,1,0,0,0,0,0,0,1,0
14440,1.0,0,0,-1.102692,0.358787,-0.344425,2.125731,-1.149233,-1.254865,1,...,1,0,1,0,0,0,0,0,0,1
19007,1.0,0,1,-1.297526,0.358787,-0.344425,-1.761405,-1.317904,1.210744,1,...,1,1,0,0,0,0,1,0,0,0
3957,1.0,0,1,-1.231440,-1.554843,-0.344425,0.348755,-1.093009,-0.937324,1,...,1,1,0,1,0,0,0,0,0,0
10402,1.0,0,0,-0.122568,0.358787,-0.344425,0.348755,-0.268398,-0.208849,1,...,1,1,0,0,1,0,0,0,0,0

In [30]:
X_test[['ORIGINAL LOAN AMOUNT', 'ORIGINAL TERM', 'INTEREST RATE', 'DEBT TO INCOME', 'PAYMENT AMOUNT', 
                      'avg_credit_score']] = X_scaler.transform(X_test[['ORIGINAL LOAN AMOUNT', 'ORIGINAL TERM',
                                                                        'INTEREST RATE', 'DEBT TO INCOME', 
                                                                        'PAYMENT AMOUNT', 'avg_credit_score']])

C:\Users\2bogu\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\2bogu\anaconda3\lib\site-packages\pandas\core\indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [31]:
X_test

,const,SUCCESSOR NUMBER,single_borrower,ORIGINAL LOAN AMOUNT,ORIGINAL TERM,INTEREST RATE,DEBT TO INCOME,PAYMENT AMOUNT,avg_credit_score,Purpose_Energy Efficiency (EE),...,Loan Type_Smart Energy,Underwriting_Tier 1,Underwriting_Tier 2,Pledged_Series 2013A EE Bonds,Pledged_Series 2015A EE Bonds,Pledged_Series 2015A PV Bonds,Pledged_Series 2016A EE Bonds,Pledged_Series 2018A PV Bonds,Pledged_Series 2019A EE & PV Bonds,Pledged_Unpledged
19977,1.0,0,1,-1.249152,0.358787,0.160714,-0.428673,-1.261680,0.482269,1,...,1,1,0,0,0,0,1,0,0,0
10878,1.0,0,0,1.763854,0.358787,-0.344425,-1.261630,1.418308,1.033295,1,...,0,1,0,0,1,0,0,0,0,0
3226,1.0,0,1,1.975359,0.358787,1.170992,-0.151020,1.980543,0.725094,0,...,1,1,0,0,0,0,0,0,1,0
21295,1.0,0,1,-0.492589,0.358787,-0.344425,-0.095489,-0.605739,0.911883,1,...,0,1,0,0,1,0,0,0,0,0
8374,1.0,0,1,-1.212091,0.358787,-0.344425,-1.317161,-1.242939,0.911883,1,...,1,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17256,1.0,0,1,-0.327672,0.358787,-0.344425,-1.261630,-0.455810,-0.078097,1,...,1,1,0,0,0,0,1,0,0,0
21795,1.0,0,0,-0.624016,0.358787,-0.344425,-0.983978,-0.718186,-0.610444,0,...,0,1,0,0,0,1,0,0,0,0
14715,1.0,0,1,-0.271708,0.358787,-0.344425,-0.706325,-0.399586,0.855846,1,...,1,1,0,0,0,0,1,0,0,0
8084,1.0,0,0,1.407676,0.358787,-0.344425,-0.484203,1.099708,0.743773,0,...,1,1,0,0,0,1,0,0,0,0
19388,1.0,0,0,-0.334817,0.358787,3.696687,0.626407,-0.080986,0.641039,1,...,1,1,0,0,0,0,0,0,1,0

In [32]:
#y_scaler = StandardScaler()
#y_scaler.fit(y_train[['MATURITY DIFFERENCE']])
#y_train[['MATURITY DIFFERENCE']] = y_scaler.transform(y_train[['MATURITY DIFFERENCE']])
#y_test[['MATURITY DIFFERENCE']] = y_scaler.transform(y_test[['MATURITY DIFFERENCE']])

In [33]:
y_test

       bad
19977    0
10878    0
3226     0
21295    0
8374     0
...    ...
17256    0
21795    0
14715    0
8084     0
19388    0

[6304 rows x 1 columns]

In [34]:
X_train.to_csv(r'C:\Users\2bogu\Desktop\Sringboard_Materials\capstone2\data\interim\X_train_bad', index = False)
X_test.to_csv(r'C:\Users\2bogu\Desktop\Sringboard_Materials\capstone2\data\interim\X_test_bad', index = False)
y_train.to_csv(r'C:\Users\2bogu\Desktop\Sringboard_Materials\capstone2\data\interim\y_train_bad', index = False)
y_test.to_csv(r'C:\Users\2bogu\Desktop\Sringboard_Materials\capstone2\data\interim\y_test_bad', index = False)